{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Wander Travel Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Wander Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<div id="home">
		<!-- banner -->
        <!-- //banner -->
          		{% block banner %}
  
          		{% endblock %}
    </div>
          		{% block content %}

          		{% endblock %}

	
	
	<footer class="py-4">
		<div class="container py-xl-5 py-3">
			<div class="row">
				<div class="col-lg-4 col-sm-6 col-8 footer-grid">
					<h2 class="mb-3">
						<a class="logo-footer tm-clr let" href="index.html">Wander</a>
					</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqu.</p>
				</div>
				<div class="offset-lg-1 col-lg-2 col-sm-6 col-4 footer-grid mt-lg-0 mt-4">
					<ul class="list-unstyled">
						<li>
							<a href="index.html">Index</a>
						</li>
						<li class="my-2">
							<a href="#about">About Us</a>
						</li>
						<li>
							<a href="#what">What We Do</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid mt-lg-0 mt-4">
					<ul class="list-unstyled">
						<li>
							<a href="#desti">Destination</a>
						</li>
						<li class="my-2">
							<a href="#blog">Blog</a>
						</li>
						<li>
							<a href="single.html">Blog Details</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-6 footer-grid mt-lg-0 mt-4">
					<ul class="list-unstyled">
						<li>
							<a href="gallery.html">Gallery</a>
						</li>
						<li class="my-2">
							<a href="contact.html">Contact Us</a>
						</li>
						<li>
							<a href="#some">Some More</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->

	<!-- footer social icons -->
	<div class="social-icons-footer text-center my-3">
		<ul class="list-unstyled">
			<li>
				<a href="#">
					<span class="fa fa-facebook"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-twitter"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-google-plus"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="fa fa-instagram"></span>
				</a>
			</li>
		</ul>
	</div>
	<!-- //footer social icons -->
	<!-- copyright -->
	<div class="copy_right mb-5">
		<p class="text-center text-bl let">© 2019 Wander. All rights reserved | Design by
			<a href="http://w3layouts.com/">Robin Rai</a>
		</p>
	</div>
	<!-- //copyright -->

	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->

