{% extends "base.html" %}
{% load static %}
 
{% block content %}

<div id="home">
	<!-- banner -->
	<div class="banner_w3lspvt-3">
		<!-- nav -->
		<div class="nav_w3ls pt-4 pb-3 text-center">
			<nav>
				<label for="drop" class="toggle">Menu</label>
				<input type="checkbox" id="drop" />
				<ul class="menu">
					<li><a href="{% url 'yatra:home' %}">Home</a></li>
					<li><a href="index.html">Destination</a></li>
					<li>
						<!-- First Tier Drop Down -->
						<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
						</label>
						<a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
						<input type="checkbox" id="drop-2" />
						<ul class="text-left">
							<li><a href="index.html" class="drop-text">About Us</a></li>
							<li><a href="index.html" class="drop-text">What We Do?</a></li>
							<li><a href="index.html" class="drop-text">Blog</a></li>
							<li><a href="single.html" class="drop-text">Blog Details</a></li>
						</ul>
					</li>
					<li><a href="gallery.html" class="active">Gallery</a></li>
					<li><a href="{% url 'yatra:contact' %}">Contact Us</a></li>
				</ul>
			</nav>
		</div>
		<!-- //nav -->
		<div class="banner-text-2 text-right">
			<div class="banner-bot-2">
				<h1><a href="index.html" class="logo text-wh editContent">Wander</a></h1>
			</div>
		</div>
	</div>
	<!-- //banner -->
</div>

<section class="gallery py-5" id="gallery">
	<div class="container py-md-5">
		<div class="text-center mb-sm-5 mb-4">
			<h3 class="tittle text-bl let mb-2 pt-sm-3">Gallery</h3>
		</div>
		<div class="row news-grids no-gutters text-center">
			<div class="col-md-4 gal-img">
				<a href="#gal1"><img src="{% static 'images/g1.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
			<div class="col-md-4 gal-img">
				<a href="#gal2"><img src="{% static 'images/g2.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
			<div class="col-md-4 gal-img">
				<a href="#gal3"><img src="{% static 'images/g3.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
		</div>
		<div class="row news-grids no-gutters text-center">
			<div class="col-md-4 gal-img">
				<a href="#gal4"><img src="{% static 'images/g4.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
			<div class="col-md-4 gal-img">
				<a href="#gal5"><img src="{% static 'images/g5.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
			<div class="col-md-4 gal-img">
				<a href="#gal6"><img src="{% static 'images/g6.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
		</div>
		<div class="row news-grids no-gutters text-center">
			<div class="col-md-4 gal-img">
				<a href="#gal7"><img src="{% static 'images/g7.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
			<div class="col-md-4 gal-img">
				<a href="#gal8"><img src="{% static 'images/g8.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
			<div class="col-md-4 gal-img">
				<a href="#gal9"><img src="{% static 'images/g9.jpg' %}" alt="Gallery Image" class="img-fluid"></a>
			</div>
		</div>
		<!-- gallery popups -->
		<!-- popup-->
		<div id="gal1" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g1.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal2" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g2.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal3" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g3.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup3 -->
		<!-- popup-->
		<div id="gal4" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g4.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal5" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g5.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal6" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g6.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal7" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g7.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal8" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g8.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- popup-->
		<div id="gal9" class="pop-overlay animate">
			<div class="popup">
				<img src="{% static 'images/g9.jpg' %}" alt="Popup Image" class="img-fluid" />
				<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<!-- //popup -->
		<!-- //gallery popups -->
	</div>
</section>

{% endblock %}