{% extends "base.html" %}
{% load static %}
{% block banner %}
<!--home-->
		<div class="banner_w3lspvt">
			<!-- nav -->
			<div class="nav_w3ls pt-4 pb-3 text-center">
				<nav>
					<label for="drop" class="toggle">Menu</label>
					<input type="checkbox" id="drop" />
					<ul class="menu">
						<li><a href="{% url 'yatra:home' %}" class="active">Home</a></li>
						<li><a href="#desti">Destination</a></li>
						<li>
							<!-- First Tier Drop Down -->
							<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
							</label>
							<a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
							<input type="checkbox" id="drop-2" />
							<ul class="text-left">
								<li><a href="#about" class="drop-text">About Us</a></li>
								<li><a href="#what" class="drop-text">What We Do?</a></li>
								<li><a href="#blog" class="drop-text">Blog</a></li>
								<li><a href="single.html" class="drop-text">Blog Details</a></li>
							</ul>
						</li>
						<li><a href="{% url 'yatra:galery' %}">Gallery</a></li>
						<li><a href="{% url 'yatra:contact' %}">Contact Us</a></li>
					</ul>
				</nav>
			</div>
			<!-- //nav -->
			<div class="banner-text text-right">
				<div class="banner-bot">
					<h1><a href="index.html" class="logo text-wh">Wander</a></h1>
					<p class="text-bl text-li mt-3 border-bottom pb-4">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
						odit aut fugit.</p>
					<div class="social-icons mt-4">
						<ul class="list-unstyled">
							<li>
								<a href="#">
									<span class="fa fa-facebook"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-twitter"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-google-plus"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-instagram"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-pinterest-p"></span>
								</a>
							</li>
						</ul>
					</div>
					<a href="contact.html" class="btn button-style">Hire Us</a>
				</div>
			</div>
		</div>
<!-- //home -->
{% endblock %}


{% block content %}
<!-- about -->
<section class="about py-5" id="about">
	<div class="container pt-xl-5 pt-lg-3">
		<div class="row about-grids">
			<div class="col-lg-5 about-left">
				<img src="{% static 'images/1.jpg' %}" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-4 about-right mt-lg-0 mt-sm-5 mt-4">
				<h3 class="mb-3 text-bl let">Never Stop Exploring</h3>
				<p class="mb-3">Integer pulvinar leo id viverra feugiat. Pellentesque libero ut justo, semper at tempus vel,
					ultrices in ligula.</p>
				<p>Semper at tempus vel, ultrices in ligula. Integer pulvinar leo id viverra feugiat.</p>
				<a href="single.html" class="btn button-style-3">Learn More</a>
			</div>
			<div class="col-lg-3 about-right p-lg-0 mt-lg-0 mt-sm-5 mt-4">
				<h3 class="mb-3 text-bl let">Our Mission</h3>
				<p class="mb-3">Nulla sollicit udin velit semper at tempus vel, ultrices in ligula leo sed viverra feugiat Nulla
					sollicit udin velit.</p>
				<p>Integer pulvinar leo id viverra feugiat. Pellentesque libero justo, semper at tempus vel.</p>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- places -->
<section class="trav-grids py-5" id="desti">
	<div class="container py-xl-5 py-lg-3">
		<div class="title-bg text-center py-5 mb-5">
			<h3 class="tittle text-wh let mb-2 pt-lg-3">Place Destination</h3>
			<p class="text-li mx-auto pb-lg-3">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
				quia consequuntur</p>
		</div>
		<div class="row">
			{% for i in yatra %}
		<div class="col-lg-4 col-sm-6">
		  <div class="box20">
		    <img src="{{ i.images.url }}" alt="" class="img-fluid" />
		    <div class="box-content">
		      <h3 class="title">{{ i.name }} </h3>
		      <span class="post">{{ i.price }}</span>
		    </div>
		  </div>
		</div>
			{% endfor %}
		</div>
		<div class="row pt-lg-3">
			<div class="col-lg-6 mt-4">
				<div class="grids-tem-one">
					<div class="row">
						<div class="col-5 grids-img-left">
							<img src="{% static 'images/tra3.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="col-7 right-cont">
							<h4 class="mb-3 let tm-clr">Dolor sit amet</h4>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
								aperiamjum.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-4">
				<div class="grids-tem-one">
					<div class="row">
						<div class="col-5 grids-img-left">
							<img src="{% static 'images/tra4.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="col-7 right-cont">
							<h4 class="mb-3 let tm-clr">Lorem ipsum dolor</h4>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
								aperiamjum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //places -->

<!-- what -->
<div class="serives-w3pvt-mobi bg-li py-5" id="what">
	<div class="container py-xl-5 py-lg-3">
		<div class="title-bg text-center py-5 mb-5">
			<h3 class="tittle text-wh let mb-2 pt-sm-3">What we do ?</h3>
			<p class="text-li mx-auto pb-sm-3">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
				quia consequuntur</p>
		</div>
		<div class="row welcome-bottom pt-4">
			<div class="col-md-4 welcome-grid">
				<span class="fa fa-briefcase"></span>
				<h4 class="my-3">et quasi</h4>
				<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
			</div>
			<div class="col-md-4 welcome-grid my-md-0 my-4">
				<span class="fa fa-fighter-jet"></span>
				<h4 class="my-3">beatae vita</h4>
				<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
			</div>
			<div class="col-md-4 welcome-grid">
				<span class="fa fa-globe"></span>
				<h4 class="my-3">sed quian</h4>
				<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
			</div>
		</div>
		<div class="row welcome-bottom mb-xl-4 mt-md-5 my-md-0 my-4">
			<div class="col-md-4 welcome-grid">
				<span class="fa fa-ship"></span>
				<h4 class="my-3">numqu eiu</h4>
				<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
			</div>
			<div class="col-md-4 welcome-grid my-md-0 my-4">
				<span class="fa fa-bus"></span>
				<h4 class="my-3">modi tem</h4>
				<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
			</div>
			<div class="col-md-4 welcome-grid">
				<span class="fa fa-shopping-basket"></span>
				<h4 class="my-3">pora inci</h4>
				<p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p>
			</div>
		</div>
	</div>
</div>
<!-- what -->

<!-- blog -->
<section class="news py-5" id="blog">
	<div class="container py-xl-5 py-lg-5">
		<div class="text-center mb-sm-5 mb-4">
			<h3 class="tittle text-bl let mb-2 pt-sm-3">Our Blog</h3>
		</div>
		<div class="row news-grids text-center">
			<div class="col-md-4 newsgrid">
				<a href="single.html">
					<img src="{% static 'images/g1.jpg' %}" alt="news image" class="img-fluid">
				</a>
				<h4 class="mt-5">Totam Reme</h4>
				<p class="my-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu
					pulvinar ut. </p>
				<a class="btn button-style-4 mt-4" href="single.html">Learn More</a>
			</div>
			<div class="col-md-4 newsgrid my-md-0 my-5">
				<a href="single.html">
					<img src="{% static 'images/g2.jpg' %}" alt="news image" class="img-fluid">
				</a>
				<h4 class="mt-5">Incidunt ute</h4>
				<p class="my-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu
					pulvinar ut. </p>
				<a class="btn button-style-4 mt-4" href="single.html">Learn More</a>
			</div>
			<div class="col-md-4 newsgrid">
				<a href="single.html">
					<img src="{% static 'images/g3.jpg' %}" alt="news image" class="img-fluid">
				</a>
				<h4 class="mt-5">Eius Moiora</h4>
				<p class="my-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu
					pulvinar ut. </p>
				<a class="btn button-style-4 mt-4" href="single.html">Learn More</a>
			</div>
		</div>
	</div>
</section>
<!-- //blog -->

<!-- middle section -->
<section class="w3ls-middle py-5 text-center" id="some">
	<div class="container py-xl-5 my-lg-5">
		<span class="w3-line text-uppercase mb-3">Wander</span>
		<h3 class="w3pvt-web-title mb-4">Start Your Journey</h3>
		<p class="text-botm-mid">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at sed ut
			perspiciatis unde omnis iste natus error.</p>
		<a href="#about" class="btn button-style-2 mt-sm-5 mt-4">Read More</a>
	</div>
</section>
	<!-- //middle section -->

{% endblock %}

{% block single %}

	
{% endblock %}